<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - Subdivisionary</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
	
		<!--[if lt IE 9]>
			<script type="text/javascript" src="Scripts/flashcanvas.js"></script>
		<![endif]-->

		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
		<meta name="description" content="The description of my page" />
	</head>
	<body>
		<h1 class="banner">@ViewBag.Banner</h1>
		@Html.Partial("_NavBar")
		<div class="container body-content">
			@RenderBody()
			<hr />
			<footer>
				<p>Public Works, Street-Use and Mapping</p>
				<p class="rainbow-text">
					<i class="fa fa-2x fa-copyright fa-spin"></i>
					@DateTime.Now.Year - Subdivisionary
					<i class="fa fa-2x fa-copyright fa-spin"></i>
				</p>
			</footer>
		</div>
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
	<script type="text/javascript">
		toastr.options = {
			"debug": false,
			"positionClass": "toast-bottom-full-width",
			"onclick": null,
			"fadeIn": 300,
			"fadeOut": 1000,
			"timeOut": 5000,
			"extendedTimeOut": 1000
		}
	</script>
		@RenderSection("scripts", required: false)
	</body>
</html>
