@model PaymentForm
@using Subdivisionary.Models.Collections
@using Subdivisionary.Models.Forms
@using Subdivisionary.ViewModels
@using Subdivisionary.ViewModels.ApplicationViewModels

<h3>Pay Invoice (#@Model.Invoice.InvoiceNo)</h3>

@{
    FileUploadViewModelCollection vmc = new FileUploadViewModelCollection(Model);
}
<h4><a href="@Model.Invoice.PrintUrl"><i class="fa fa-download"></i> Click here to download a copy of the invoice</a></h4>
<hr/>
<div id="uncheckDivId">
    <h4>Instructions</h4>
    <ol>
        <li><a href="@Model.Invoice.PayUrl" target="_blank"><i class="fa fa-credit-card"></i> Visit this link to pay your fee online</a></li>
        <li>Then click on the button below to verify that the payment has been submitted</li>
        <li>Click the save button below</li>
    </ol>
    <h4>NOTE</h4>
    <ol>
        <li>
            Without clicking the button provided, we have no way of knowing that a payment has been made.
            <strong>Please</strong> be sure to click the button after using the external payment gateway.
        </li>
        <li>
            There is a convience fee associated with online payments. If you do not want to pay by card, there is a check option provided if you check the box above. However, you will be required to mail in a check directly to our address at
            1155 Market St, 3rd Floor, SF, CA.
        </li>
    </ol>
    <button id="verifyBtn" class="btn btn-info btn-lg" data-url="@Url.Action("CheckInvoice", new {id = Model.InvoiceId})" data-redirect="@Url.Action("Submitted", new {id = Model.ApplicationId})")>
        <i class="fa fa-circle-o-notch" id="spinIcon"></i> Verify Online Payment
    </button>
    <div id="onlineVerified" style="visibility: hidden;">
        <p><strong>SUCCESS: </strong>Click the save button below</p>
    </div>
</div>
<div class="form-group row" style="margin-top: 30px;">
    <div class="col-xs-6 col-sm-4">
        @Html.LabelFor(m => m.PaidWithChecks, new { @class = "control-label" })
    </div>

    <div class="col-xs-6 col-sm-4">
        @Html.CheckBoxFor(m => m.PaidWithChecks, new { @class = "big-checkbox" })
    </div>
    <div class="col-sm-offset-4 col-xs-offset-0"></div>
</div>
<div id="checkDivId">
    @Html.Partial("_FileUploadPropsEditor", vmc.GetViewModel(PaymentForm.CHECK_KEY, "Select Closure Calculations"))

    <div class="form-group">
        <h3>Checks</h3>
        @Html.Partial("CollectionEditors/_CollectionEditor", new ListEditorViewModel<CheckInfo>(PaymentForm.CHECKCOLL_KEY, Model.ChecksList, new CheckInfo()))
    </div>
</div>