@model Subdivisionary.Models.ProjectInfos.BasicProjectInfo
@using Subdivisionary.Dtos
@using Subdivisionary.Helpers
@using Subdivisionary.Models.Applications
@using Subdivisionary.Models.Collections
@using Subdivisionary.Models.ProjectInfos
@using Subdivisionary.ViewModels

@if (Model is ExtendedProjectInfo)
{

    <h3>Project Information</h3>
    <div class="center-block">
        <table class="table table-striped bsm-border center-div" style="max-width: 400px;">

            @if (Model is CcBypassInfo)
            {
                <tr>
                    <th>@Html.LabelFor(m => (m as CcBypassInfo).NumberOfUnits, new { @class = "control-label" })</th>
                    <td style="max-width: 150px;">
                        @{
                            var mClass = Model is CcEcpInfo ? (object)new { @class = "form-control", style = "text-align:center;", placeholder = "###" } :
                                new { @class = "form-control", style = "text-align:center;", placeholder = "###", disabled = "disabled" };
                        }
                        @Html.TextBoxFor(m => (m as CcBypassInfo).NumberOfUnits, mClass)
                        @Html.ValidationMessageFor(m => (m as CcBypassInfo).NumberOfUnits)
                    </td>
                </tr>
                            if (Model is CcEcpInfo)
                            {
                                <tr>
                                    <th>@Html.LabelFor(m => (m as CcEcpInfo).ResidentialUnits, new { @class = "control-label" })</th>
                                    <td style="max-width: 150px;">
                                        @Html.TextBoxFor(m => (m as CcEcpInfo).ResidentialUnits, new { @class = "form-control", style = "text-align:center;", placeholder = "###" })
                                        @Html.ValidationMessageFor(m => (m as CcEcpInfo).ResidentialUnits)
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => (m as CcEcpInfo).CommercialUnits, new { @class = "control-label" })</th>
                                    <td style="max-width: 150px;">
                                        @Html.TextBoxFor(m => (m as CcEcpInfo).CommercialUnits, new { @class = "form-control", style = "text-align:center;", placeholder = "###" })
                                        @Html.ValidationMessageFor(m => (m as CcEcpInfo).CommercialUnits)
                                    </td>
                                </tr>
                                }

                            }
            @if (Model is CocAndLlaProjectInfo)
            {
                <tr>
                    <th>@Html.LabelFor(m => (m as CocAndLlaProjectInfo).NumOfExisitingLots, new { @class = "control-label" })</th>
                    <td style="max-width: 150px;">
                        @Html.TextBoxFor(m => (m as CocAndLlaProjectInfo).NumOfExisitingLots, new { @class = "form-control", style = "text-align:center;", placeholder = "###" })
                        @Html.ValidationMessageFor(m => (m as CocAndLlaProjectInfo).NumOfExisitingLots)
                    </td>
                </tr>
            }
            @if (Model is LotMergerAndSubdivisionInfo)
            {
                <tr>
                    <th>@Html.LabelFor(m => (m as LotMergerAndSubdivisionInfo).NumOfProposedLots, new { @class = "control-label" })</th>
                    <td style="max-width: 150px;">
                        @Html.TextBoxFor(m => (m as LotMergerAndSubdivisionInfo).NumOfProposedLots, new { @class = "form-control", style = "text-align:center;", placeholder = "###" })
                        @Html.ValidationMessageFor(m => (m as LotMergerAndSubdivisionInfo).NumOfProposedLots)
                    </td>
                </tr>
            }
        </table>
    </div>
                            if (Model is NewConstructionInfo)
                            {
                                <div class="col-xs-12">
                                    @Html.LabelFor(m => (m as NewConstructionInfo).HasExistingBuilding, new { @class = "control-label" })
                                    @Html.CheckBoxFor(m => (m as NewConstructionInfo).HasExistingBuilding, new { @class = "big-checkbox center-div", style = "float:right; text-align: center; vertical-align: middle;" })
                                    @Html.ValidationMessageFor(m => (m as NewConstructionInfo).HasExistingBuilding)

                                </div>
                                <div class="col-xs-12">
                                    @Html.LabelFor(m => (m as NewConstructionInfo).CreatesVerticalSubdivision, new { @class = "control-label" })
                                    @Html.CheckBoxFor(m => (m as NewConstructionInfo).CreatesVerticalSubdivision, new { @class = "big-checkbox center-div", style = "float:right; text-align: center; vertical-align: middle;" })
                                    @Html.ValidationMessageFor(m => (m as NewConstructionInfo).CreatesVerticalSubdivision)
                                </div>
                                }
                            }

<div class="form-group">
    <h3>Primary Contact Information</h3>
    @Html.PartialFor(m => m.PrimaryContactInfo, "_ContactEditor")
    <div class="clearfix"></div>
</div>
<div class="form-group">
    <h3>Owner Contact Information</h3>
    <h6>(If Different than Primary Contact)</h6>
    @Html.PartialFor(m => m.OwnerContactInfo, "_ContactEditor")
    <div class="clearfix"></div>
</div>


@if (Model is ExtendedProjectInfo)
{
    <h3>Firm or Agent Preparing the Subdivision Map</h3>
    <div class="form-group">
        @Html.PartialFor(m => (m as ExtendedProjectInfo).LandFirmContactInfo, "_ContactEditor")
    </div>
    <div class="clearfix"></div>
    if (Model is CocAndLlaProjectInfo)
    {
        <h3>Land Developer Contact Information</h3>
        <h6>(If Different than Owner/Primary Contact)</h6>
        <div class="form-group">
            @Html.PartialFor(m => (m as CocAndLlaProjectInfo).DeveloperContactInfo, "_ContactEditor")
        </div>
        <div class="clearfix"></div>
    }
    <div class="clearfix"></div>
}
<div class="form-group">
    <h3>Address</h3>

    @Html.Partial("CollectionEditors/_CollectionEditor",
    new ListEditorViewModel<ParcelInfo>(BasicProjectInfo.APN_INFO_KEY, Model.AddressList, new ParcelInfo()))
</div>
