@model Subdivisionary.Models.Collections.PermitNameInfo
    
<div class="col-xs-12 col-sm-6">

    @Html.LabelFor(m => m.ReviewerName, new { @class = "col-form-label" })
    @Html.TextBoxFor(m => m.ReviewerName, new { @class = "form-control", placeholder = "[Permit No]" })
    @Html.ValidationMessageFor(m => m.ReviewerName)
</div>
<div class="col-xs-12 col-sm-6">
    @Html.LabelFor(m => m.PermitNo, new { @class = "col-form-label" })
    <div class="input-group">
        <span class="input-group-addon">#</span>
        @Html.TextBoxFor(m => m.PermitNo, new { @class = "form-control", placeholder = "[Permit No]" })
    </div>
    @Html.ValidationMessageFor(m => m.PermitNo)
</div>
