@using Microsoft.Ajax.Utilities
@using Subdivisionary.Helpers
@using Subdivisionary.ViewModels
@model Subdivisionary.ViewModels.FileUploadViewModel

<div class="form-group">
    <label class="control-label" for=@Model.UploadProperty.UniqueKey>@Model.LabelMessage</label>
    <input id="@Model.UploadProperty.UniqueKey" type="file" name="@Model.UploadProperty.UniqueKey"
           class="file-loading" multiple="@(!Model.UploadProperty.IsSingleUpload)"
           data-callback="@Url.Action("UploadFiles", "Applications", new { id = Model.UploadProperty.FormId })"
           data-maxFileCount ="@Model.UploadProperty.MaxFileCount"
           data-maxFileSize="@Model.UploadProperty.MaxFileSize"
           data-extensions ="@Html.RenderListAsHtmlString(Model.UploadProperty.Extensions)"
           data-files ="@Html.RenderListAsHtmlString(Model.UploadList.Select(x=>x.Url))"
           data-initialconfigs ="@Model.InitialPreviews(Url)" />
</div>
