@using System.Data.Entity.Core.Objects
@using Subdivisionary.DAL
@using Subdivisionary.Helpers
@using Subdivisionary.ViewModels
@model Subdivisionary.ViewModels.ApplicationViewModels.EditFormViewModel


@Html.Partial("_ValidationSummary", ViewData.ModelState)

@if (ViewBag.SavedForm != null)
{

    <div class="alert alert-success" role="alert" style="margin: 0px;">
        <i class="fa fa-exclamation"></i>
        @ViewBag.SavedForm has been saved!
    </div>
}
@using (Html.BeginForm("Details", "Applications",
    new {id=Model.ApplicationId, formId = Model.Form.Id},
    FormMethod.Post, new { method = "post", id="formPartialViewEditor", runat = "server", enctype = "multipart/form-data" }))
{
    @Html.Hidden(FormModelBinder.TYPE_KEY, ObjectContext.GetObjectType(Model.Form.GetType()).FullName)
    @Html.Partial(Model.GetPartialViewEditor(), Model.Form)
    @Html.AntiForgeryToken()
    <button class="btn btn-lg btn-info center-block" id="formSubmitButton" type="submit" style="width: 75%;">Save <i class="fa fa-save"></i></button>
}