@model Subdivisionary.Models.ProjectInfos.BasicProjectInfo
@using Subdivisionary.Helpers
@using Subdivisionary.Models.ProjectInfos

@if (Model is ExtendedProjectInfo)
{
    <h3>Project Information</h3>
    <div class="form-group row">
        @Html.LabelFor(m => (m as ExtendedProjectInfo).NumberOfUnits, new {@class = "col-sm-2 col-form-label"})
        @Html.TextBoxFor(m => (m as ExtendedProjectInfo).NumberOfUnits, new {@class = "form-control col-sm-10", placeholder = Html.DisplayNameFor(m => (m as ExtendedProjectInfo).NumberOfUnits)})
        @Html.ValidationMessageFor(m => (m as ExtendedProjectInfo).NumberOfUnits)
    </div>
}

<h3>Primary Contact Information</h3>
@Html.PartialFor(m => m.PrimaryContactInfo, "_ContactEditor")

@if (Model is ExtendedProjectInfo)
{
    <h3>Firm Contact Information</h3>
    @Html.PartialFor(m => (m as ExtendedProjectInfo).FirmContactInfo, "_ContactEditor")
}

<h3>Project Location</h3>
<div class="form-group row">
    @Html.LabelFor(m => m.Block, new { @class = "col-sm-2 col-form-label" })
    @Html.TextBoxFor(m => m.Block, new { @class = "form-control col-sm-10", placeholder = @Html.DisplayNameFor(m => m.Block) })
    @Html.ValidationMessageFor(m => m.Block)
</div>

<div class="form-group row">
    @Html.LabelFor(m => m.Lot, new { @class = "col-sm-2 col-form-label" })
    @Html.TextBoxFor(m => m.Lot, new { @class = "form-control col-sm-10", placeholder = @Html.DisplayNameFor(m => m.Lot) })
    @Html.ValidationMessageFor(m => m.Lot)
</div>
@Html.PartialFor(m => m.Address, "_AddressEditor")