@model Subdivisionary.Models.ProjectInfos.BasicProjectInfo
@using Subdivisionary.Helpers
@using Subdivisionary.Models.Collections
@using Subdivisionary.Models.ProjectInfos
@using Subdivisionary.ViewModels

@if (Model is ExtendedProjectInfo)
{
    <div class="form-group">
        <h3>Project Information</h3>
        <div class="form-group" style="max-width: 150px;">
            @Html.LabelFor(m => (m as ExtendedProjectInfo).NumberOfUnits, new { @class = "control-label" })
            @Html.TextBoxFor(m => (m as ExtendedProjectInfo).NumberOfUnits, new
            {
                @class = "form-control",
                style = "text-align:center;",
                placeholder = "###"
            })
            @Html.ValidationMessageFor(m => (m as ExtendedProjectInfo).NumberOfUnits)
        </div>
    </div>

}

<div class="form-group">
    <h3>Primary Contact Information</h3>
    @Html.PartialFor(m => m.PrimaryContactInfo, "_ContactEditor")

    @if (Model is ExtendedProjectInfo)
    {
        <h3>Firm Contact Information</h3>
        @Html.PartialFor(m => (m as ExtendedProjectInfo).FirmContactInfo, "_ContactEditor")
    }
</div>
<div class="form-group">
    <h3>Address</h3>

    @Html.Partial("CollectionEditors/_CollectionEditor", new ListEditorViewModel<ParcelInfo>()
    {
        List = Model.AddressList,
        EmptyDataDefault = Model.GetEmptyItem()
    })
</div>