@using System.Reflection
@using AutoMapper.Internal
@using Subdivisionary.DAL
@using Subdivisionary.Helpers
@using Subdivisionary.Models
@using Subdivisionary.Models.Applications
@using Subdivisionary.Models.Forms
@using Subdivisionary.ViewModels
@model Subdivisionary.ViewModels.EditApplicationViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BannerLayout.cshtml";
    ViewBag.Banner = Model.DisplayName;
}

@{
    var forms = Model.Forms;
    IForm activeForm = null;
}
<div class="row">
    <div class="sidebar col-xs-0 col-md-3">
        <h2>Directory</h2>
        <ul class="nav nav-pills nav-stacked" style="margin-bottom: 20px;">
            @for (int i = 0; i < @forms.Count; i++)
            {
                var form = forms[i];
                string liClass = null;
                if (i == Model.EditId)
                {
                    liClass = "active";
                    activeForm = form;
                }
                var icon = form.IsAssigned ? "fa fa-check" : (form.IsRequired ? "fa fa-times" : "fa fa-minus");
                <li role="presentation" class="@liClass">
                    <a href="@Url.Action( "Details", "Applications", new {id = Model.ApplicationId, editId = i}, null)" class="list-group-item">
                        @form.DisplayName
                        <div class="badge">
                            <i class="@icon" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
            }
            <li role="presentation" class="liClass">
                <a href="@Url.Action( "Review", "Applications", new {id = Model.ApplicationId})" class="list-group-item disabled">
                    Review Application
                    <div class="badge disabled">
                        <i class="fa fa-share" aria-hidden="true"></i>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="partialbar col-xs-12 col-md-9">
        <h2>@forms[Model.EditId].DisplayName</h2>
        @{
            var formEditor = new EditFormViewModel()
            {
                Form = activeForm,
                ApplicationId = Model.ApplicationId,
                EditId = Model.EditId
            };
        }
        @Html.Partial("_FormEditor", formEditor)
    </div>
</div>


@section Scripts {
    @if (activeForm is IUploadableFileForm)
    {
            <script type="text/javascript">
                $(document)
                    .ready(function() {
                        @Html.RenderUploadableFileJavascript((IUploadableFileForm)activeForm, Server)
                    });
            </script>
    }
    @if (activeForm is ICollectionForm)
    {
        @Html.Partial("CollectionEditors/_CollectionFormJavascript", (ICollectionForm)activeForm)
    }
}
