@using System.Text
@using Subdivisionary.ViewModels
@model Subdivisionary.Models.Applicant

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Applications Page</h2>
@if (!Model.Applications.Any())
{
    <p>  No Applications yet...</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped" id="projectsTable">
            <thead>
                <tr>
                    <th>Project Type</th>
                    <th>APN(s)</th>
                    <th>Street(s)</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var app in Model.Applications)
                {
                    var aHref = Url.Action("Details", "Applications", new {id = app.Id});
                    <tr>
                        <td><a href="@aHref">@app.DisplayName</a></td>
                        <td><a href="@aHref">@string.Join(", ", app.ProjectInfo.AddressList.Select(x => x.Block + "/" + x.Lot).ToArray())</a></td>
                        <td><a href="@aHref">@string.Join(", ", app.ProjectInfo.AddressList.Select(x => x.AddressRangeStart + "-" + x.AddressRangeEnd + " " + x.AddressStreet).ToArray())</a></td>
                        <td style="text-align: center">
                            @if (app.IsSubmitted)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<a class="btn btn-default js-create" role="button">Create New</a>

@{
    var rawInputOptions = new StringBuilder();
    var inputSelects = EnumHelper.GetSelectList(typeof(ApplicationTypeViewModel));
    for(int i=0;i<inputSelects.Count;i++)
    {
        var appType = inputSelects[i];
        rawInputOptions.Append("{");
        rawInputOptions.Append(string.Format("text:\"{0}\",value:\"{1}\"", appType.Text.ToString(), appType.Value.ToString()));
        rawInputOptions.Append("}");
        if (i != inputSelects.Count - 1)
        {
            rawInputOptions.Append(",");
        }
    }
}
@section scripts{
    <script type="text/javascript">
        $(document)
            .ready(function () {
                $('#projectsTable').DataTable();
                
                $('.js-create')
                    .on("click",
                        function() {
                            bootbox.prompt({
                                title: "New Application",
                                size: "small",
                                inputType: 'select',
                                inputOptions: [
                                    @Html.Raw(@rawInputOptions)
                                ],
                                buttons: {
                                    cancel: {
                                        label: '<i class="fa fa-times"></i> Cancel'
                                    },
                                    confirm: {
                                        label: '<i class="fa fa-check"></i> Confirm'
                                    }
                                },
                                callback: function(result) {
                                    if (result) {
                                        console.log(result);
                                        var url = '@Url.Action("New", "Applications", new { id = "__id__" })';
                                        window.location.href = url.replace('__id__', result);
                                    }
                                }
                            });
                        });
            });
    </script>
}