@model NewApplicationViewModel<BasicProjectInfo>
@using Subdivisionary.DAL
@using Subdivisionary.Helpers
@using Subdivisionary.Models.Forms
@using Subdivisionary.Models.ProjectInfos
@using Subdivisionary.ViewModels
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_BannerLayout.cshtml";
    ViewBag.Banner = "Create a New Application";
}

@Html.Partial("_ValidationSummary", ViewData.ModelState)
@using (Html.BeginForm("Create", "Applications"))
{
    @Html.Hidden(ProjectInfoModelBinder.TYPE_KEY, Model.ProjectInfo.GetType().FullName)
    // Render Project Info
    <div class="sidebar col-xs-0 col-md-3">
        @Html.Partial("_BsmSidebar")
    </div>
    <div class="partialbar col-xs-12 col-md-9">
        <div class="form-group">
            <h3>Application Type</h3>
            @Html.DropDownList("ApplicationType", EnumHelper.GetSelectList(typeof(ApplicationTypeViewModel)), "Select Application Type", new { @class = "form-control", AutoPostBack = true, onchange = "itemSelected(this.value);", style="max-width:250px;" })
        </div>
        @Html.PartialFor(m => m.ProjectInfo, "_ProjectInfoEditor")
        <button class="btn btn-primary" type="submit" style="width: 100%;">Create!</button>
    </div>
}

@section scripts
{    
    <script type="text/javascript">
        function itemSelected(value) {
            if (!value)
                return;
            var url = '@Url.Action("New", "Applications", new { id = "__id__" })';
            window.location = url.replace('__id__', value);
        }
    </script>

    @Html.Partial("CollectionEditors/_CollectionFormJavascript", Model.ProjectInfo)
}
