
@using Subdivisionary.DAL
@using Subdivisionary.Models.Collections
@using Subdivisionary.Models.Forms
@using Subdivisionary.ViewModels
@model ShareApplicationViewModel
@{
    ViewBag.Title = "Share Application";
    Layout = "~/Views/Shared/_BannerLayout.cshtml";
    ViewBag.Banner = "Share " + Model.DisplayName;
}
<div class="col-sm-3 col-xs-0">
    @Html.Partial("_BsmSidebar")
</div>

<div class="col-sm-9 col-xs-12">
    <h2>Pending Application Invites</h2>
    <h4>@Model.ProjectInfoDisplay</h4>
    <strong> Note: </strong>
    <p>
        Here you can grant editing privileges to as many users as you want for the stated project.
        Editors not only have the power to modify the application, but also the ability to authorize signatures and distribute the application.
        Please note that once that the user accepts these privileges they become equally accountable for the completeness of the application.
    </p>
    <div class="col-xs-12 col-sm-6">
        <h3>Registered Editors</h3>
        @using (Html.BeginForm("RemoveApplicationApplicants", "Applications", new { applicationId = Model.ApplicationId },
                FormMethod.Post, new { method = "post", id = "formDeleteUsers" }))
        {
            <ul class="list-group" id="applicantsContainer" style="margin-bottom: 0;">
                @foreach (var applicant in Model.ApplicantEmails)
                {
                    <li class="list-group-item">
                        <i class="fa fa-user"></i> @applicant
                        @if (applicant.EmailAddress != Model.UserEmail)
                        {
                            <button class="btn btn-danger btn-circle js-removeApplicant" type="button" data-applicant="@applicant.EmailAddress"><i class="fa fa-times-circle fa-lg"></i></button>
                        }
                    </li>
                }
            </ul>

            <button class="btn btn-danger center-block disabled" type="submit" disabled="disabled" id="saveEditorsBtn"><i class="fa fa-user-times"></i> Save Editors</button>
        }
    </div>

    <div class="col-xs-12 col-sm-6">
        <h3>Pending Invites</h3>

        @using (Html.BeginForm("UpdateApplicationInvites", "Applications", new { applicationId = Model.ApplicationId },
                    FormMethod.Post, new { method = "post", id = "formPartialViewEditor" }))
        {
            var list = Model.ShareRequests;
            @Html.Partial("CollectionEditors/_CollectionEditor", new ListEditorViewModel<EmailInfo>("emailKey", list, new EmailInfo(), true))
            <button class="btn btn-info col-xs-12 col-sm-6" style="margin-bottom: 60px;" type="submit">
                Save or Send Invites <i class="fa fa-envelope"></i>
            </button>
        }
    </div>
</div>

@section scripts{
    <script src="/Scripts/site-js/site-icollection.js"></script>

    <script type="text/javascript">
        $(".add-entry").each(function () {
            var me = $(this);
            me.html("Add Additional Invite <i class='fa fa-user-plus' aria-hidden='true'></i>");
            me.attr("style", "");
            me.addClass("col-xs-12 col-sm-6");
            console.log("WE");
        });
        $('#applicantsContainer').on("click", ".js-removeApplicant", function (e) {
            var btn = $(this);
            var save = $("#saveEditorsBtn");
            save.removeClass("disabled");
            save.removeAttr("disabled");
            $('#formDeleteUsers').append(' <input type="hidden" name="@ApplicantionApplicantModelBinder.APPLICANT_KEY" value="' + btn.data('applicant') + '">');
            btn.parent('.list-group-item').remove();
        });
    </script>
}









