@using Subdivisionary.Models
@model Subdivisionary.ViewModels.ApplicationViewModels.ApplicationSubmittedViewModel
@{
    ViewBag.Title = "Submitted";
    Layout = "~/Views/Shared/_BannerLayout.cshtml";
    ViewBag.Banner = "Submitted Application";
    var currentStatus = Model.CurrentStatus();
}

<div class="form-group row">
    <div class="col-xs-12 col-sm-6">
        <h2>Project Status History</h2>
        @Html.Partial("Tables/_StatusHistoryTableEditor", Model.Statuses)
    </div>
    <div class="col-xs-12 col-sm-6 partialbar">
        <h2>Invoices</h2>
        @Html.Partial("Tables/_InvoicesTableEditor", Model.Invoices)
    </div>
</div>

<h4>Review Application</h4>
<a href="@Url.Action("Review", "Applications", new {id = Model.ApplicationId})" role="button" class="btn btn-default btn-lg">
    <i class="fa fa-file-text-o"></i>
    Application Review
</a>
<a href="@Url.Action("SwapForms", new {id = Model.ApplicationId})" role="button" class="btn btn-default btn-lg">
    <i class="fa fa-plus"></i>
    Add Forms to Application
</a>

<h4>Change Application Status</h4>

@if (Model.ApplicationCanEdit || (currentStatus >= EApplicationStatus.InitialPaymentReceived && currentStatus < EApplicationStatus.DeemedSubmittable))
{
    <a href="@Url.Action("ApplicationDeemedSubmittable", new {id = Model.ApplicationId})" role="button" class="btn btn-success btn-lg full-width">
        <i class="fa fa-smile-o"></i>
        Application Deemed Complete
    </a>
}

@if (currentStatus == EApplicationStatus.InitialPaymentReceived || currentStatus == EApplicationStatus.Resubmitted || currentStatus == EApplicationStatus.IncompleteFeeReceived)
{
    <a href="@Url.Action("ApplicationDeemedIncomplete", new {id = Model.ApplicationId, chargeFee = false})" role="button" class="btn btn-warning btn-lg full-width">
        <i class="fa fa-frown-o"></i>
        Application Deemed Incomplete.
    </a>

    <a href="@Url.Action("ApplicationDeemedIncomplete", new {id = Model.ApplicationId, chargeFee = true})" role="button" class="btn btn-danger btn-lg full-width">
        <i class="fa fa-money"></i>
        Application Deemed Incomplete. Fine the applicant.
    </a>
}